.TableVirtual {
    height: 100%;

    table {
        min-width: 100vw;
        text-align: center;

        td,th {
            border: 1px solid white;
            white-space: pre;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.5rem;
            letter-spacing: 0.01071em;
            //     display: table-cell;
            //     vertical-align: inherit;
            //     // border-bottom: 1px solid rgba(81, 81, 81, 1);
            //     text-align: left;
                padding: 6px 16px;
            //     color: #fff;
            //     // // background-color: #1c2538;
            //     // color: orange;
            //     border: 1px solid white;
        }
    }
}